<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="white"
  stroke="currentColor"
  stroke-width="1.5"
  class="w-10 h-auto max-md:w-12"
  viewBox="0 0 24 24"
>
  <title>Share icon</title>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="M7 11a2 2 0 1 0 0 2m0-2a2 2 0 0 1 0 2m0-2 10-5M7 13l10 5m0 0a2 2 0 1 0 4 3 2 2 0 0 0-4-3Zm0-12a2 2 0 1 0 4-3 2 2 0 0 0-4 3Z"
  ></path>
</svg>
