<!-- <TitlePage>Contributors</TitlePage> -->
<p
  class="xl:px-32 lg:px-16 md:px-4 sm:px-1 mb-10 xl:text-lg lg:text-lg md:text-base sm:text-sm font-normal dark:text-dark-paragraph"
>
  Thanks to all the collaborators who have made this project possible!
</p>
