---
import type { ContributorsContent } from '@/types/contributors.type';
import ContributorInfo from './ContributorInfo.astro';
import ContributorContainer from './ContributorContainer.astro';

interface Props {
  contributorsContent: ContributorsContent;
}

const { contributorsContent } = Astro.props;
---

{
  contributorsContent.data.contributors.map((contributor) => {
    return (
      <a href={contributor.contributorGithubURL} target="_blank" rel="noopener noreferrer">
        <ContributorContainer tip={contributor.contributorName}>
          <ContributorInfo
            contributorImageURL={contributor.contributorImageURL}
            contributorName={contributor.contributorName}
          />
        </ContributorContainer>
      </a>
    );
  })
}
