---
import ImagePage from '../ImagePage.astro';

interface Props {
  contributorImageURL: string;
  contributorName: string;
}

const { contributorImageURL, contributorName } = Astro.props;
---

<ImagePage
  imageSrc={contributorImageURL}
  imageAlt={contributorName}
  imageSize={56}
  imageClass="rounded-full"
/>
<p
  class="bg-dark-primary/50 opacity-0 text-dark-paragraph text-center text-xs rounded-lg py-2 absolute z-10 group-hover:opacity-100 bottom-full px-3 pointer-events-none"
>
  {contributorName}
</p>
