---
import ShareIcon from '@/icons/Share.astro';
---

<button type="button" class="hover:scale-110 active:scale-90 mr-4" id="btn-share">
  <ShareIcon />
</button>

<script>
  import { shareController } from '@/controllers/share';
  import { $ } from '@/utils/dom';

  const btnShare = $('#btn-share');

  btnShare?.addEventListener('click', shareController);
</script>
