---
import BaseLayout from '@layouts/BaseLayout.astro';
import Card from '@components/Card/Card.astro';
import { getEntry } from 'astro:content';

export function getStaticPaths() {
  return [
    { params: { library: 'javascript-typescript' } },
    { params: { library: 'python' } },
    { params: { library: 'java' } },
  ];
}

const { library } = Astro.params;

const libraryContent = await getEntry('libraries', library);
---

<BaseLayout>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 mb-4">
    {
      libraryContent?.data.libraries.map((item) => {
        return (
          <Card
            libraryURL={item.libraryURL}
            icon={item.libraryIcon}
            title={item.libraryTitle}
            description={item.libraryDescription}
          />
        );
      })
    }
  </div>
</BaseLayout>
