---
import LibraryComponent from '@/components/Library/Library.astro';
import Empty from '@/components/Empty.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

export function getStaticPaths() {
  return [
    { params: { library: 'python' } },
    { params: { library: 'javascript-typescript' } },
    { params: { library: 'java' } },
  ];
}

const { library } = Astro.params;

const librariesContent = await getEntry('libraries', library);
---

<BaseLayout>
  {
    librariesContent?.data.libraries.length > 0 ? (
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 mb-4">
        <LibraryComponent librariesContent={librariesContent} />
      </div>
    ) : (
      <Empty />
    )
  }
</BaseLayout>
