---
import LibraryCard from '@/components/Library/LibraryCard.astro';
import LayoutSideBar from '@/layouts/LayoutSideBar.astro';
import { getEntry } from 'astro:content';

export function getStaticPaths() {
  return [{ params: { library: 'python' } }, { params: { library: 'javascript-typescript' } }];
}

const { library } = Astro.params;

const librariesContent = await getEntry('libraries', library);
---

<LayoutSideBar>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-4 pt-6">
    {
      librariesContent?.data.libraries.map((library) => {
        return (
          <LibraryCard
            libraryURL={library.libraryURL}
            libraryIcon={library.libraryIcon}
            libraryTitle={library.libraryTitle}
            libraryDescription={library.libraryDescription}
          />
        );
      })
    }
  </div>
</LayoutSideBar>
