---
import TitlePage from '../TitlePage.astro';
import DescriptionPage from '../DescriptionPage.astro';
---

<div>
  <TitlePage>DevLi</TitlePage>
  <DescriptionPage>
    We decided to join forces to create DevLi with the purpose of facilitating the path for
    developers in the search for better techniques that will solve problems or needs applicable in
    projects developed in Javascript, Python, etc.
  </DescriptionPage>
</div>
