---
import type { AboutUser } from '@/types/about.type';
import AboutInfo from './AboutInfo.astro';

interface Props {
  aboutUsers: AboutUser[];
}

const { aboutUsers } = Astro.props;
---

{
  aboutUsers.map((user) => {
    return (
      <div class="group w-full max-w-sm border rounded-lg border-light-border dark:border-dark-border hover:border-green-light-primary dark:hover:border-green-light-primary dark:hover:text-green-light-primary">
        <div class="flex flex-col items-start p-6">
          <AboutInfo
            userIcon={user.icon}
            userRole={user.role}
            userName={user.name}
            socialNetworks={user.socialNetworks}
          />
        </div>
      </div>
    );
  })
}
