---
interface Props {
  userName: string;
  userRole: string;
}

const { userName, userRole } = Astro.props;
---

<h5 class="mb-1 text-xl font-medium text-dark-primary dark:text-light-secondary">{userName}</h5>
<span
  class="text-sm text-dark-subtitle dark:text-dark-subtitle group-hover:text-light-paragraph dark:group-hover:text-dark-subtitle"
>
  {userRole}
</span>
