---
import type { SocialNetwork } from '@/types/about';

interface Props {
  userSocialNetworks: SocialNetwork[];
}

const { userSocialNetworks } = Astro.props;
---

{
  userSocialNetworks.map((media) => {
    return (
      <a href={media.link} aria-label={media.mediaName} target="_blank" rel="noopener noreferrer">
        <button
          type="button"
          class="text-dark-secondary hover:bg-green-light-primary dark:text-light-secondary dark:hover:text-dark-secondary rounded-lg text-sm p-2.5"
        >
          <Fragment set:html={media.svgIcon} />
        </button>
      </a>
    );
  })
}
