---
import TitlePage from '../TitlePage.astro';
---

<div>
  <TitlePage>DevLi</TitlePage>
  <p
    class="xl:px-32 lg:px-16 md:px-4 sm:px-1 mb-10 xl:text-2xl lg:text-lg md:text-base sm:text-sm font-normal dark:text-gray-400"
  >
    DevLi is a web site to help the engineers and provide the best options of libraries at the
    moment to work on projects.<br />
    <br />We decided to join forces to create DevLi with the purpose of facilitating the path for
    developers in the search for better techniques that will solve problems or needs applicable in
    projects developed in Javascript, Python, Java, etc.
  </p>
</div>
