---
import ContributorsComponent from '@/components/Contributors/Contributors.astro';
import ContributorsDescription from '@/components/Contributors/ContributorsDescription.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const contributorsContent = await getEntry('contributors', 'contributors');
---

<BaseLayout>
  <div class="flex px-4 pt-4 dark:border-gray-700">
    <div class="">
      <ContributorsDescription />
      <div class="flex flex-wrap gap-4 items-center justify-center">
        <ContributorsComponent contributorsContent={contributorsContent} />
      </div>
    </div>
  </div>
</BaseLayout>
