---
import TitlePage from '../TitlePage.astro';
import DescriptionPage from '../DescriptionPage.astro';
---

<TitlePage>Not sure which libraries to use?</TitlePage>
<ul class="list-disc xl:px-32 lg:px-16 md:px-4 sm:px-1 mb-10">
  <li class="xl:text-lg lg:text-lg md:text-base sm:text-sm font-normal dark:text-dark-paragraph">
    You face a problem, you don't know which library to use?, find the best option to solve the
    problem you are facing in your project.
  </li>
  <li class="xl:text-lg lg:text-lg md:text-base sm:text-sm font-normal dark:text-dark-paragraph">
    Do you have a library or language that you want to add?, follow the guide and do it <a
      class="underline text-paragraph-link"
      href="http://"
      target="_blank"
      rel="noopener noreferrer">here</a
    >.
  </li>
</ul>
<DescriptionPage>
  DevLi is an open-source website, where you can find alternatives to libraries depending on the
  language you are working in.
</DescriptionPage>
