---
import TitlePage from '../TitlePage.astro';
import DescriptionPage from '../DescriptionPage.astro';
---

<TitlePage>Not sure which libraries to use?</TitlePage>
<DescriptionPage>
  Dev Libraries is an open-source project, where you can find alternatives to libraries depending on
  the language you are working in. A web site to help the engineers and provide the best options of
  libraries at the moment to work on projects.
</DescriptionPage>
<ul class="list-disc xl:px-32 lg:px-16 md:px-4 sm:px-1 mb-10">
  <li
    class="xl:text-lg lg:text-lg md:text-base sm:text-sm font-normal text-light-paragraph dark:text-dark-paragraph"
  >
    Did you find a bug and you want to report it?, use the github template and choose <a
      class="underline text-paragraph-link"
      href="https://github.com/polacodev/dev-libraries/issues/new/choose"
      target="_blank"
      rel="noopener noreferrer">Bug Report</a
    >.
  </li>
  <li
    class="xl:text-lg lg:text-lg md:text-base sm:text-sm font-normal text-light-paragraph dark:text-dark-paragraph"
  >
    Do you have an idea or enhancement that want to add?, use the github template and choose <a
      class="underline text-paragraph-link"
      href="https://github.com/polacodev/dev-libraries/issues/new/choose"
      target="_blank"
      rel="noopener noreferrer">Feature Request</a
    >.
  </li>
  <li
    class="xl:text-lg lg:text-lg md:text-base sm:text-sm font-normal text-light-paragraph dark:text-dark-paragraph"
  >
    Do you want to be a Contributor and add a new language or library?, follow the <a
      class="underline text-paragraph-link"
      href="https://github.com/polacodev/dev-libraries/blob/main/CONTRIBUTING.md"
      target="_blank"
      rel="noopener noreferrer">guide</a
    > and do it.
  </li>
</ul>
