<div class="flex flex-col h-[70vh] items-center justify-center overflow-hidden">
  <h1
    class="xl:text-8xl lg:text-7xl md:text-6xl sm:text-6xl text-6xl mb-6 font-semibold text-green-light-primary"
  >
    Oops!
  </h1>
  <span class="font-normal dark:text-dark-paragraph">Sorry We could not Find any Libraries</span>
</div>
