<div class="flex flex-col h-[70vh] items-center justify-center overflow-hidden">
  <h1
    class="xl:text-8xl lg:text-7xl md:text-6xl sm:text-6xl text-6xl mb-6 font-semibold text-[#9ccc16]"
  >
    404
  </h1>
  <span class="font-normal dark:text-gray-200">Page not Found!</span>
  <span class="font-normal dark:text-gray-200">The page you are looking for, is not valid</span>
  <a class="underline text-blue-500" href="/" rel="noopener noreferrer">Back to home</a>
</div>
