---
interface Props {
  tip: string;
}

const { tip } = Astro.props;
---

<div>
  <div
    class={`
      before:content-[attr(data-tip)]
      before:absolute
      before:px-3 before:py-2
      before:left-1/2 before:-bottom-1
      before:w-max before:max-w-xs
      before:-translate-x-1/2 before:translate-y-full
      before:bg-dark-home-card
      before:text-dark-paragraph before:text-xs
      before:rounded-md before:opacity-0
      before:transition-all

      dark:before:bg-dark-home-card

      after:absolute
      after:left-1/2 after:-bottom-1
      after:h-0 after:w-0
      after:-translate-x-1/2
      after:border-4
      after:border-t-transparent
      after:border-l-transparent
      after:border-r-transparent
      after:border-b-dark-home-card
      after:opacity-0
      after:transition-all

      hover:before:opacity-100 hover:after:opacity-100 hover:relative
    `}
    data-tip={tip}
  >
    <slot />
  </div>
</div>
