---
import type { MenuSidebarItem } from '@/types/sidebar.type';

interface Props {
  sidebarItems: MenuSidebarItem[];
}

const { sidebarItems } = Astro.props;
---

{
  sidebarItems.map((sidebarItem) => {
    return (
      <li class="aside-nav-bar-container-li">
        <a
          href={sidebarItem.path}
          class="flex items-center p-3 text-base font-medium text-light-paragraph rounded-lg transition duration-100 dark:text-light-secondary hover:bg-green-light-secondary dark:hover:bg-dark-primary dark:hover:text-light-paragraph group"
        >
          <span class="ml-3">{sidebarItem.name}</span>
        </a>
      </li>
    );
  })
}
