---
import Header from '../Header/Header.astro';
import SidebarItems from './SidebarItems.astro';
import AboutIcon from '@/icons/About.astro';
import ContributorsIcon from '@/icons/Contributors.astro';
import { MENU_SIDEBAR } from '@/constants/sidebar';
---

<div class="antialiased bg-light-primary dark:bg-dark-primary">
  <Header />

  <aside
    class="fixed top-0 left-0 z-40 w-96 h-screen pt-14 transition-transform -translate-x-full bg-light-secondary border-r border-dark-paragraph md:translate-x-0 dark:border-dark-tertiary"
    aria-label="Sidenav"
    id="drawer-navigation"
  >
    <div class="overflow-y-auto py-8 px-8 h-full bg-light-secondary dark:bg-dark-secondary">
      <SidebarItems sidebarItems={MENU_SIDEBAR} />
      <div class="absolute bottom-0 left-0 w-96 p-8">
        <ul
          class="side-bar-ul-bottom pt-5 mt-5 space-y-2 border-t border-dark-paragraph dark:border-dark-tertiary"
        >
          <li>
            <a
              href="/contributors"
              class="flex items-center p-3 text-base font-medium text-dark-primary rounded-lg transition duration-100 dark:text-light-secondary hover:bg-green-light-secondary dark:hover:bg-green-dark-primary dark:hover:text-dark-secondary"
            >
              <ContributorsIcon />
              <span class="ml-3">Contributors</span>
            </a>
          </li>
          <li>
            <a
              href="/about"
              class="flex items-center p-3 text-base font-medium text-dark-primary rounded-lg transition duration-100 dark:text-light-secondary hover:bg-green-light-secondary dark:hover:bg-green-dark-primary dark:hover:text-dark-secondary"
            >
              <AboutIcon />
              <span class="ml-3">About</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <main class="relative lg:px-12 md:px-8 sm:px-6 px-4 lg:pt-28 md:pt-14 sm:pt-7 pt-20 md:ml-96">
    <slot />
  </main>
</div>

<!--Set active class on nav when the page is active -->
<script>
  const nav2 = document.querySelector('.side-bar-ul-bottom');
  const navLinks2 = nav2?.querySelectorAll('a');
  const currentURL2 = window.location.href;
  navLinks2?.forEach((link) => {
    if (link.href === currentURL2) {
      link.classList.add('active');
    }
  });
</script>

<style>
  .side-bar-ul-bottom a.active {
    background: #9ccc16;
    /* --tw-text-opacity: 1; */
    /* color: rgb(17 24 39 / var(--tw-text-opacity)); */
    color: #1f1f29;
  }
</style>
