---
import type { MenuSidebarItem } from '@/types/sidebar.type';

interface Props {
  sidebarItems: MenuSidebarItem[];
}

const { sidebarItems } = Astro.props;
---

<ul class="side-bar-ul-top space-y-2">
  {
    sidebarItems.map((sidebarItem) => {
      return (
        <li class="aside-nav-bar-container-li">
          <a
            href={sidebarItem.path}
            class="flex items-center p-3 text-base font-medium text-dark-primary rounded-lg transition duration-100 dark:text-light-secondary hover:bg-green-light-secondary dark:hover:bg-green-dark-primary dark:hover:text-dark-secondary group"
          >
            <span class="ml-3">{sidebarItem.name}</span>
          </a>
        </li>
      );
    })
  }
</ul>

<script>
  const nav1 = document.querySelector('.side-bar-ul-top');
  const navLinks1 = nav1?.querySelectorAll('a');
  const currentURL1 = window.location.href;
  navLinks1?.forEach((link) => {
    if (link?.href === currentURL1) {
      link.classList.add('active');
    }
  });
</script>

<style>
  .side-bar-ul-top a.active {
    background: #9ccc16;
    /* --tw-text-opacity: 1; */
    /* color: rgb(17 24 39 / var(--tw-text-opacity)); */
    color: #1f1f29;
  }
</style>
