---
import Sidebar from '@/components/Sidebar/Sidebar.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dev Libraries</title>
  </head>
  <body class="bg-light-primary dark:bg-dark-primary">
    <Sidebar>
      <slot />
    </Sidebar>
  </body>
</html>
